body {
    font-family: sans-serif;
    margin: 0;
}

header {
    padding: 10px;
    background-color: rgb(240, 213, 215);
    display: flex; 
    align-items: center;
    justify-content: center; 
    gap: 15px; 
}

nav {
    background-color: #985671;
    position: sticky;
    top: 0;
    z-index: 1000;
    text-align: center; 
}

nav a {
    display: inline-block; 
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    background-color: #81464f;
}

section {
    padding: 60px 20px;
    border-bottom: 1px solid #ddd;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #f8f8f8;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(236, 54, 117, 0.2);
    transition: transform 0.5s ease;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card:hover{
    transform: scale(1.2);
    
}
.card h3 {
    font-size: 18px;
    margin: 10px 0 5px 0;
}

.card p {
    font-size: 16px;
    color: #333;
    margin: 0;
}
footer {
    background-color: rgb(249, 222, 224);
    color: #333;
    padding: 20px 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left {
    flex: 1;
}

.footer-right {
    flex: 2;
    text-align: right;
}

.footer-logo {
    height: 100px;
}

footer a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

footer .social {
    margin-top: 5px;
    font-size: 14px;
}
h2 {
    text-align: center;
}
.btn-order {
    display: inline-block;
    padding: 10px 20px;
    background-color: #985671;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.btn-order:hover {
    background-color: #81464f;
    transform: scale(1.05);
}
